input[type=text] {
  width: 50px;
}

body {
  font: 1em sans-serif;
  padding: 0;
  margin : 0;
}

form {
  max-width: 220px;
  margin: 0;
  padding: 0 5px;
}

p > label {
  display: block;
}

input[type=text],
input[type=email],
input[type=number],
textarea,
fieldset {
/* требуется для правильной формы формы
    элементов в браузерах на основе WebKit*/
  -webkit-appearance: none;

  width : 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:invalid {
  /* box-shadow: 0 0 5px 1px red; */
  background-color: red;
}

input:focus:invalid {
  outline: none;
}

input[type=text] {
  width: 50px;
}
